!!!
%html{:lang => 'zh-Hans'}
  %head
    %link{:href => "https://www.zhihu.com/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %meta{:content => :'text/html; charset=UTF-8', :'http-equiv' => :'Content-Type'}/
    %meta{:name => :'theme-color', :content => :'#0084ff'}/
    %meta{:charset => :'UTF-8'}/
    %title ZHClean from Hentioe - React SPA
  %body
    #root
  %script{:src => :"https://o4p9r7thl.qnssl.com/zhclean/front.#{hash}.js"}